table, tr, td, th {
    border: 1px solid lightgrey;
    border-collapse: collapse;
    padding: 5px;
}

th {
    background-color: lightgrey;
}

table {
    display: inline-table;
}

.form {
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
    border: 0.5px solid lightgrey;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}

.nextForms {
    margin-top: 1%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
    border: 0.5px solid lightgrey;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}

body {
    background-color: whitesmoke;
}